body {
  color: #ddd;
  background-color: #300a24;
}

.question-box {
  width: 60vw;
  height: 40vh;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.timer {
    float: right;
    padding-right: 10%;
} 

.option {
   margin: 10px;
}

.option > input {
   margin: 10px;
}

ul {
    list-style-type: none;
}

.submit-button {
  margin: 40px;
}
