body {
  color: black;
  background-color: lightcyan;
}

.question-box {
  margin-bottom: 30px;
  padding: 20px;
  width: 60vw;
  height: 50vh;
  padding-left: 18%;
  padding-top: 10%;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.timer {
    float: right;
    padding-right: 5%;
} 

.option {
   margin: 10px;
}

.option > input {
   margin: 10px;
}

ul {
    list-style-type: none;
}

.submit-button {
  margin: 40px;
  /* padding-left: 60%;
  padding-top: 10%; */
  /* float: right; */
}
